@model mtg_app.Models.CardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrowseM</title>
</head>
<body>
<div style="display:flex;flex-wrap: wrap;align-content: center; flex-direction: column;">
<div class="d-flex justify-content-center form_container">
                    <form action="@Url.Action("BrowseM","Store")" method="post">
                        <input type="number" name="multiverse" class="form-control input_user" value="" min="1" max="16500" placeholder="MULTIVERSE">
                        <button type="submit" name="button" class="btn login_btn" style="width: 100%; border:dashed">SEARCH</button>
                    </form>
           
                </div>
                <div style="display:inline-block; margin:20px">
                <h2>@Model.Name</h2>
                <p>Multiverse number => @Model.Multiverse_id</p>
                <p>@Model.Price</p>
                <img src=@Model.Url>
                </div>

                <form asp-controller="Shopping"  asp-action="addItem"  method="Post" style="display: flex; flex-direction: column">
                            
                            <input name="userId" value="1" class="form-control" type="hidden"/>

                            <input name="productId" value="@Model.Multiverse_id" class="form-control" type="hidden"/>
                            <input name="productName" value="@Model.Name" class="form-control" type="hidden"/>
                            <input name="productImageUrl" value="@Model.Url" class="form-control" type="hidden"/>
                            <input name="price" value="@Model.Price" class="form-control" type="hidden"/>
                            <input name="totalPrice" value="@Model.Price" class="form-control" type="hidden"/>
                            <input type="number" id="tentacles" name="qty" min="1" max="10">
                            <input type="submit" value="BUY" class="btn btn-primary" />          
                </form>
</div>
</body>
</html>
