@model mtg_app.Models.CardsViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>You picked => @Model.Rarity</h1>
    <div style="display:flex;flex-wrap: wrap;align-content: center; flex-direction: column;">
    
    <ul style="display: flex;flex-wrap: wrap;">
        
        @foreach (var item in Model.Cards)
        {
            <div style="border: dashed;">
            <div style="display:inline-block; margin:50px">
                <h2>@item.Name</h2>
                <p>Multiverse number => @item.Multiverse_id</p>
                <p>@item.Price</p>
                <img src=@item.Url>
            </div>
            <form asp-controller="Shopping"  asp-action="addItem"  method="Post" style="text-align: center;">
                            
                            <input name="userId" value="1" class="form-control" type="hidden"/>

                            <input name="productId" value="@item.Multiverse_id" class="form-control" type="hidden"/>
                            <input name="productName" value="@item.Name" class="form-control" type="hidden"/>
                            <input name="productImageUrl" value="@item.Url" class="form-control" type="hidden"/>
                            <input name="price" value="@item.Price" class="form-control" type="hidden"/>
                            <input name="totalPrice" value="@item.Price" class="form-control" type="hidden"/>
                            <input type="number" id="tentacles" name="qty" min="1" max="10">
                            <input type="submit" value="BUY" class="btn btn-primary" />          
            </form>
            </div>
        }
        
    </ul>
    </div>
</body>
</html>
