@model mtg_app.Models.CardsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrowseP</title>
</head>
<body>
    <h1>Item is: @Model.PageTitle</h1>
    <h1>@Model.Rarity</h1>
     <!-- (UserId, ProductId, ProductName, ProductImageURL, Price, Qty) -> User, Multiverse_id, Name, Url, Price, Qty -->

    <h2>NOT WORKING</h2>
    <ul>
        @foreach (var item in Model.Cards)
        {
            <h1>PRICE!!!</h1>
                    <li>@item.Name</li>
                    <li>@item.Multiverse_id</li>
                    <li>@item.Price</li>
          <form asp-controller="Shopping"  asp-action="addItem"  method="Post">
                            
                            <input name="userId" value="1" class="form-control" type="hidden"/>

                            <input name="productId" value="@item.Multiverse_id" class="form-control" type="hidden"/>
                            <input name="productName" value="@item.Name" class="form-control" type="hidden"/>
                            <input name="productImageUrl" value="@item.Url" class="form-control" type="hidden"/>
                            <input name="price" value="@item.Price" class="form-control" type="hidden"/>
                            <input name="totalPrice" value="@item.Price" class="form-control" type="hidden"/>
                            <input type="number" id="tentacles" name="qty" min="1" max="10">
                            <input type="submit" value="stem voor @item.Multiverse_id" class="btn btn-primary" />
                
                            
            </form>
                
        }
    </ul>
</body>
</html>
