@model mtg_app.Models.CardsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BrowseP</title>
</head>
<body>
    <h1>Item is: @Model.PageTitle</h1>
    <h1>@Model.Rarity</h1>

    <h2>NOT WORKING</h2>
    <ul>
        @foreach (var item in Model.Cards)
        {
            <h1>NO PRICE</h1>
            <h1>@item.Name</h1>

            @if (item.Price != null){
                <h1>PRICE!!!</h1>
                <li>@item.Name</li>
                <li>@item.Multiverse_id</li>
                <li>@item.Price</li>
                <img src="@item.Url">
            }
            
        }
    </ul>
</body>
</html>
