@model IEnumerable<mtg_app.Models.RarityViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Item ARE</h1>
    <ul>
    
        <li>@Html.ActionLink("Uncommon", "BrowseR", "Store", new {rarity = "U"})</li>
        <li>@Html.ActionLink("Common", "BrowseR", "Store", new {rarity = "C"})</li>
        <li>@Html.ActionLink("Myrhic", "BrowseR", "Store", new {rarity = "M"})</li>
        <li>@Html.ActionLink("Rare", "BrowseR", "Store", new {rarity = "R"})</li>
        <li>@Html.ActionLink("Special", "BrowseR", "Store", new {rarity = "S"})</li>
        <li>@Html.ActionLink("Bonus", "BrowseR", "Store", new {rarity = "B"})</li>
    </ul>
</body>
</html>
