
@model IEnumerable<mtg_app.Models.RarityViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <h1>Item is:</h1>

    </p>
    <ul>
        <li>@Html.ActionLink("Uncommon", "Browse", "Store", new {rarity = "U"})</li>
        <li>@Html.ActionLink("Common", "Browse", "Store", new {rarity = "C"})</li>
        <li>@Html.ActionLink("Myrhic", "Browse", "Store", new {rarity = "M"})</li>
        <li>@Html.ActionLink("Rare", "Browse", "Store", new {rarity = "R"})</li>
        <li>@Html.ActionLink("Special", "Browse", "Store", new {rarity = "S"})</li>
        <li>@Html.ActionLink("Bonus", "Browse", "Store", new {rarity = "B"})</li>

    </ul>
</body>
</html>
