@model List<CartItemViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1> Your bill </h1>

    <form asp-controller="Home"  asp-action="Index"  method="Post" style="text-align: center;">
        <input type="submit" value="Confirm payment" class="btn btn-primary" />
    </form>
    @foreach (var item in Model)
    {
        <p>@item.Productname --- @item.Productid</p>
        <p>@item.Qty</p>
        <h3>@item.Price "$"</h3>
        <img src=@item.Productimageurl>
        <h1>----------------</h1>

        
    }
    <h1>The total to pay is = @Model[0].Totalprice $</h1>
    


</body>
</html>
